{
    "openapi": "3.0.0",
    "info": {
        "title": "ArchSmart API Documentation",
        "description": "Complete API documentation for ArchSmart Real Estate Platform. \r\n * \r\n * **Authentication:**\r\n * 1. First, login using the `/login` endpoint with your credentials\r\n * 2. Copy the token from the response\r\n * 3. Click the 'Authorize' button (🔓) at the top right\r\n * 4. Paste your token in the value field (just the token, without 'Bearer')\r\n * 5. Click 'Authorize' and then 'Close'\r\n * 6. Now you can test all protected endpoints\r\n * \r\n * **Note:** All API requests should use `Accept: application/json` header.",
        "contact": {
            "name": "ArchSmart Support",
            "email": "admin@archsmart.com"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://archsmart.indiginfoundation.com/license"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://archsmartadm.indiginfoundation.com/api",
            "description": "Production API Server"
        },
        {
            "url": "http://localhost:8000/api",
            "description": "Local Development Server"
        },
        {
            "url": "/api",
            "description": "Current Domain API Server"
        }
    ],
    "paths": {
        "/admin/agents": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get all agents (Admin only)",
                "description": "Retrieve list of all agents with their status and approval information",
                "operationId": "149279b52dbf5076696c1c31641a6039",
                "responses": {
                    "200": {
                        "description": "List of agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "is_approved": {
                                                "type": "boolean"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/agents/pending": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get pending agents (Admin only)",
                "description": "Retrieve list of agents awaiting approval",
                "operationId": "2593670a78583ee4bdf607d2dad46496",
                "responses": {
                    "200": {
                        "description": "List of pending agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "is_approved": {
                                                "type": "boolean"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/agents/{id}/approve": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Approve an agent (Admin only)",
                "description": "Approve a pending agent registration",
                "operationId": "274a2d401dbeca5e9e9df11e8952916c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Agent User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent approved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Agent approved successfully"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "User is not an agent"
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/agents/{id}/suspend": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Suspend an agent (Admin only)",
                "description": "Suspend or deactivate an agent account",
                "operationId": "11ab0369379b69d14794c04610b30027",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Agent User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent suspended successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Agent suspended successfully"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "User is not an agent"
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "description": "Create a new user account with specified role (admin, agent, or user)",
                "operationId": "5d4fa5d5607ed675ba93907e1fc94534",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "role"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "admin",
                                            "agent",
                                            "user"
                                        ],
                                        "example": "user"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "🎉 Registration successful!"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcdef123456..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "description": "Authenticate user and get access token",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "✅ Login successful!"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "2|xyz789..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid credentials"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "description": "Revoke current access token",
                "operationId": "28d48c13fca984400ac8de99f54ee13a",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "👋 Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get current authenticated user",
                "description": "Retrieve currently authenticated user details",
                "operationId": "2baab1eeb5fd49516237a38da22e7a07",
                "responses": {
                    "200": {
                        "description": "User details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Update user profile",
                "description": "Update authenticated user profile information",
                "operationId": "19a3c8bca5d611b2d76ea7711a9438e9",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Updated"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.new@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "bio": {
                                        "type": "string",
                                        "example": "Professional real estate agent"
                                    },
                                    "company": {
                                        "type": "string",
                                        "example": "ArchSmart Realty"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/blog-posts": {
            "get": {
                "tags": [
                    "Blog Posts",
                    "Admin"
                ],
                "summary": "Get all blog posts (Admin)",
                "description": "Retrieve all blog posts including drafts and published. Admin only.",
                "operationId": "9a3d48866f317d8fab7a3d2fa1b379f6",
                "responses": {
                    "200": {
                        "description": "List of all blog posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BlogPost"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/blog-posts": {
            "get": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Get published blog posts",
                "description": "Retrieve all published blog posts with author information",
                "operationId": "7d707701862420624cb322614a06dbc7",
                "responses": {
                    "200": {
                        "description": "List of published blog posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BlogPost"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Create new blog post",
                "description": "Create a new blog post. Authenticated users can create posts.",
                "operationId": "56d872311e61e0f84f91057b7b57174a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "content",
                                    "status"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "10 Tips for Home Buyers"
                                    },
                                    "subtitle": {
                                        "type": "string",
                                        "example": "A comprehensive guide"
                                    },
                                    "excerpt": {
                                        "type": "string",
                                        "example": "Learn essential tips..."
                                    },
                                    "summary": {
                                        "type": "string",
                                        "example": "Detailed summary of the post"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "<p>Full content with HTML...</p>"
                                    },
                                    "category": {
                                        "type": "string",
                                        "example": "real-estate"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "published"
                                        ],
                                        "example": "published"
                                    },
                                    "meta_title": {
                                        "type": "string",
                                        "example": "SEO Title"
                                    },
                                    "meta_description": {
                                        "type": "string",
                                        "example": "SEO Description"
                                    },
                                    "canonical_url": {
                                        "type": "string",
                                        "example": "https://example.com/blog/post"
                                    },
                                    "seo_keywords": {
                                        "type": "string",
                                        "example": "real estate, tips, buying"
                                    },
                                    "is_featured": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "cover_image_alt": {
                                        "type": "string",
                                        "example": "Beautiful home"
                                    },
                                    "estimated_read_time": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "reading_level": {
                                        "type": "string",
                                        "example": "beginner"
                                    },
                                    "layout": {
                                        "type": "string",
                                        "example": "standard"
                                    },
                                    "tags": {
                                        "type": "string",
                                        "example": "real-estate,tips"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "secondary_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Blog post created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/blog-posts/{slug}": {
            "get": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Get blog post by slug",
                "description": "Retrieve a single blog post by its slug or ID. Supports fuzzy matching for slugs.",
                "operationId": "b3249a5ade845693dab76884a506fa72",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Blog post slug or ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found"
                    }
                }
            }
        },
        "/blog-posts/{blogPost}": {
            "put": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Update blog post",
                "description": "Update an existing blog post. Authors can update their own posts, admins can update any post.",
                "operationId": "5fb7e2eaf8a4d425ee4bd17bb001b134",
                "parameters": [
                    {
                        "name": "blogPost",
                        "in": "path",
                        "description": "Blog Post ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Updated Title"
                                    },
                                    "subtitle": {
                                        "type": "string",
                                        "example": "Updated subtitle"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "<p>Updated content...</p>"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "published"
                                        ]
                                    },
                                    "category": {
                                        "type": "string",
                                        "example": "real-estate"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Blog post updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Blog post not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Delete blog post",
                "description": "Delete a blog post. Authors can delete their own posts, admins can delete any post.",
                "operationId": "af800d5c6a8c5d0321b3f3967011095e",
                "parameters": [
                    {
                        "name": "blogPost",
                        "in": "path",
                        "description": "Blog Post ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Blog post not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/posts/{postId}/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get blog post comments",
                "description": "Retrieve all comments for a specific blog post",
                "operationId": "48be78ad2417cc7a2b2c87765a6cb6d0",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "description": "Blog Post ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of comments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "post_id": {
                                                "type": "integer"
                                            },
                                            "user_id": {
                                                "type": "integer",
                                                "nullable": true
                                            },
                                            "name": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "email": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "body": {
                                                "type": "string"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Post a comment",
                "description": "Add a comment to a blog post. Authenticated users auto-fill name/email.",
                "operationId": "ce8360d198d910f414bf4e4af039712a",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "description": "Blog Post ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "body"
                                ],
                                "properties": {
                                    "body": {
                                        "type": "string",
                                        "maxLength": 2000,
                                        "example": "Great article!"
                                    },
                                    "name": {
                                        "type": "string",
                                        "maxLength": 120,
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment posted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "body": {
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/consultations": {
            "get": {
                "tags": [
                    "Consultations"
                ],
                "summary": "Get all consultations (Admin only)",
                "description": "Retrieve list of consultation requests with optional limit",
                "operationId": "03192b1632d51781c7469b20e2771020",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of results (1-25)",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of consultations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Consultation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Consultations"
                ],
                "summary": "Book a consultation",
                "description": "Submit a consultation request. Public endpoint.",
                "operationId": "8814cd9ef86cdeb5714a8f93ce171ece",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "I would like to schedule a consultation..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Consultation booked successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Consultation booked successfully!"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Consultation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/consultations/{consultation}": {
            "put": {
                "tags": [
                    "Consultations"
                ],
                "summary": "Respond to consultation (Admin only)",
                "description": "Update consultation status and add response message",
                "operationId": "d36c4ebe240d4ddfff002456448e7632",
                "parameters": [
                    {
                        "name": "consultation",
                        "in": "path",
                        "description": "Consultation ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "responded",
                                            "closed"
                                        ]
                                    },
                                    "response_message": {
                                        "type": "string",
                                        "example": "Thank you for your consultation request..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Consultation updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Consultation updated successfully!"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Consultation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Admin only"
                    },
                    "404": {
                        "description": "Consultation not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/dashboard/overview": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get dashboard overview",
                "description": "Retrieve dashboard metrics. Admins see system-wide statistics, agents see their own property data.",
                "operationId": "651bc227644e3eaf947f107ac3d77adf",
                "responses": {
                    "200": {
                        "description": "Dashboard overview data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "totals": {
                                            "properties": {
                                                "users": {
                                                    "type": "integer"
                                                },
                                                "agents": {
                                                    "type": "integer"
                                                },
                                                "admins": {
                                                    "type": "integer"
                                                },
                                                "blog_posts": {
                                                    "type": "integer"
                                                },
                                                "properties": {
                                                    "type": "integer"
                                                },
                                                "featured_properties": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "recent_properties": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Property"
                                            }
                                        },
                                        "recent_blog_posts": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BlogPost"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/drafts": {
            "post": {
                "tags": [
                    "Drafts"
                ],
                "summary": "Save blog post draft",
                "description": "Create or update a blog post draft for autosave functionality",
                "operationId": "6e7549d3f56de79d146dbed4e097e7d9",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "Draft ID to update (optional)",
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "subtitle": {
                                        "type": "string"
                                    },
                                    "excerpt": {
                                        "type": "string"
                                    },
                                    "content": {
                                        "type": "string"
                                    },
                                    "category": {
                                        "type": "string"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "meta_title": {
                                        "type": "string"
                                    },
                                    "meta_description": {
                                        "type": "string"
                                    },
                                    "canonical_url": {
                                        "type": "string"
                                    },
                                    "is_featured": {
                                        "type": "boolean"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "published_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Draft saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/drafts/{id}": {
            "get": {
                "tags": [
                    "Drafts"
                ],
                "summary": "Get draft by ID",
                "description": "Retrieve a saved blog post draft",
                "operationId": "2c1b5ec5b8094ed16a2f99d6c2e95833",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Draft ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Draft details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "content": {
                                            "type": "string"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Draft not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/inquiries": {
            "get": {
                "tags": [
                    "Inquiries"
                ],
                "summary": "Get all inquiries",
                "description": "Retrieve paginated list of inquiries with optional filters. Authenticated users only.",
                "operationId": "313832c486d3886ccad424c2c7f780e9",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "responded",
                                "closed"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by inquiry type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "property-inquiry",
                                "investment-consultation",
                                "smart-home",
                                "interior-design",
                                "general"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in name, email, subject, or message",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of inquiries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Inquiry"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Inquiries"
                ],
                "summary": "Submit a new inquiry",
                "description": "Submit a general or property-specific inquiry. Public endpoint.",
                "operationId": "1cd5d3c54f3754afa8ae1e8c3636ae86",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "subject",
                                    "message",
                                    "type"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "example": "Inquiry about property"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "I'm interested in this property..."
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "property-inquiry",
                                            "investment-consultation",
                                            "smart-home",
                                            "interior-design",
                                            "general"
                                        ],
                                        "example": "property-inquiry"
                                    },
                                    "property_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inquiry submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Inquiry submitted successfully. We will get back to you soon."
                                        },
                                        "inquiry": {
                                            "$ref": "#/components/schemas/Inquiry"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/inquiries/{inquiry}": {
            "get": {
                "tags": [
                    "Inquiries"
                ],
                "summary": "Get inquiry details",
                "description": "Retrieve details of a single inquiry",
                "operationId": "6fa6518d09c6227a4e7dcc3a3949f7ca",
                "parameters": [
                    {
                        "name": "inquiry",
                        "in": "path",
                        "description": "Inquiry ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inquiry details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "inquiry": {
                                            "$ref": "#/components/schemas/Inquiry"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Inquiry not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Inquiries"
                ],
                "summary": "Update inquiry status",
                "description": "Update inquiry status and add response message",
                "operationId": "e7b04cdf9e736ec126c4ae07eb9c0b51",
                "parameters": [
                    {
                        "name": "inquiry",
                        "in": "path",
                        "description": "Inquiry ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "responded",
                                            "closed"
                                        ]
                                    },
                                    "response_message": {
                                        "type": "string",
                                        "example": "Thank you for your inquiry..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inquiry updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Inquiry updated successfully"
                                        },
                                        "inquiry": {
                                            "$ref": "#/components/schemas/Inquiry"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Inquiry not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Inquiries"
                ],
                "summary": "Delete inquiry",
                "description": "Delete an inquiry",
                "operationId": "2f5635eb324a04e1284c2e2a9c369dbc",
                "parameters": [
                    {
                        "name": "inquiry",
                        "in": "path",
                        "description": "Inquiry ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inquiry deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Inquiry deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Inquiry not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/inquiries/statistics": {
            "get": {
                "tags": [
                    "Inquiries"
                ],
                "summary": "Get inquiry statistics",
                "description": "Retrieve statistics about inquiries including counts by status and type",
                "operationId": "7f7234882dc23eef911154dcd90aa7c6",
                "responses": {
                    "200": {
                        "description": "Inquiry statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "pending": {
                                            "type": "integer"
                                        },
                                        "responded": {
                                            "type": "integer"
                                        },
                                        "closed": {
                                            "type": "integer"
                                        },
                                        "by_type": {
                                            "type": "object"
                                        },
                                        "recent": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get user notifications",
                "description": "Retrieve list of notifications for authenticated user, sorted by unread first",
                "operationId": "b1274a2aaae8a4295a7e1925e8d8090f",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of results (1-100)",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of notifications",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "user_id": {
                                                "type": "integer"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "body": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "object"
                                            },
                                            "read_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "nullable": true
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/notifications/unread-count": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get unread notification count",
                "description": "Retrieve count of unread notifications for authenticated user",
                "operationId": "85697ee523a5dace428185c95efb9f2f",
                "responses": {
                    "200": {
                        "description": "Unread count",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "unread": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/notifications/{id}/read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark notification as read",
                "description": "Mark a single notification as read",
                "operationId": "50f7a85105115012c73fb8dc245f47c1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Notification ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification marked as read",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Marked as read"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Notification not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/notifications/read-all": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notifications as read",
                "description": "Mark all unread notifications as read for authenticated user",
                "operationId": "4513779e1e0f406b578106c47696bc2c",
                "responses": {
                    "200": {
                        "description": "All notifications marked as read",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All notifications marked as read"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/properties": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get all approved properties",
                "description": "Retrieve list of all approved properties with agent information",
                "operationId": "13fea573f37f88995828f064090ca444",
                "responses": {
                    "200": {
                        "description": "List of approved properties",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Property"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Properties"
                ],
                "summary": "Create new property",
                "description": "Create a new property listing. Agents create pending properties, admins create approved properties.",
                "operationId": "3b0a02424a0675093cdb9e98d3936ccb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "location",
                                    "price",
                                    "description"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Luxury Villa"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "123 Main St, City"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Main St, City"
                                    },
                                    "price": {
                                        "type": "number",
                                        "example": 500000
                                    },
                                    "bedrooms": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "bathrooms": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "size": {
                                        "type": "number",
                                        "example": 3500
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "villa"
                                    },
                                    "is_smart_home": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Beautiful villa with pool"
                                    },
                                    "agent_name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "agent_phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "agent_email": {
                                        "type": "string",
                                        "example": "agent@example.com"
                                    },
                                    "images": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Property created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Property created successfully."
                                        },
                                        "property": {
                                            "$ref": "#/components/schemas/Property"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/properties/featured": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get featured properties",
                "description": "Retrieve up to 6 featured approved properties",
                "operationId": "0b6254e3693c2e2acda6030e446cb507",
                "responses": {
                    "200": {
                        "description": "List of featured properties",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Property"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/properties/{property}": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get single property details",
                "description": "Retrieve details of a single approved property with agent information",
                "operationId": "9db32941fb40175b5a6c5d4f698925b7",
                "parameters": [
                    {
                        "name": "property",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Property details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Property"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Property not found"
                    }
                }
            }
        },
        "/properties/{property}/view": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "View property (authenticated)",
                "description": "Authenticated users can view approved properties or their own pending properties. Admins can view all properties.",
                "operationId": "67185fb5055fb2d284fad4755ce4bce1",
                "parameters": [
                    {
                        "name": "property",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Property details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Property"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Property not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/properties/my": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get my properties",
                "description": "Get all properties for the authenticated user. Admins see all properties, agents see only their own.",
                "operationId": "19a2d5b90bd7c9c9a0ce8c17800b492e",
                "responses": {
                    "200": {
                        "description": "List of user's properties",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Property"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/properties/{id}": {
            "put": {
                "tags": [
                    "Properties"
                ],
                "summary": "Update property",
                "description": "Update an existing property. Agents can update their own properties, admins can update any property.",
                "operationId": "b9f37d05cc2677812697919dcddb4ac4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
[...]
